@import url("https://fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono");
:root {
  font-size: 15px; }

body, div, ul, li {
  margin: 0;
  padding: 0; }

body {
  background: #000; }

.error {
  font-size: 2rem;
  color: #f00; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto; }

.filters-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #2b2b2b; }
  @media (min-width: 600px) {
    .filters-container {
      display: block !important; } }

.filters {
  color: #6441a5;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 600px) {
    .filters {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.filter {
  text-align: center;
  padding: 5px 0;
  cursor: pointer; }
  @media (min-width: 600px) {
    .filter {
      -ms-flex-preferred-size: 33.3333%;
          flex-basis: 33.3333%; } }
  .filter_selected {
    margin-top: -1px;
    background: #1e1e1e;
    cursor: initial; }
  .filter:hover {
    background: #121212; }

.header {
  color: #6441a5;
  font-family: "Share Tech Mono", monospace;
  padding: .7rem .5rem;
  font-size: 2rem;
  text-transform: lowercase;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #2b2b2b; }
  .header__menu {
    fill: #6441a5;
    -ms-flex-preferred-size: 2.5rem;
        flex-basis: 2.5rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: .5rem;
    cursor: pointer; }
    @media (min-width: 600px) {
      .header__menu {
        display: none; } }
  .header__icon {
    width: 100%; }
  .header__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    fill: #6441a5;
    -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem; }
  .header__text {
    -ms-flex-item-align: end;
        align-self: flex-end; }

.streams-container {
  overflow: auto; }

.streams {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.stream {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: inline-block;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 640px;
  padding: .75rem 1rem;
  color: #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: .05rem;
  text-decoration: none;
  background: #000;
  -webkit-transition: background .3s;
  transition: background .3s; }
  @media (min-width: 600px) {
    .stream {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; } }
  @media (min-width: 900px) {
    .stream {
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%; } }
  @media (min-width: 1200px) {
    .stream {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; } }
  .stream:hover {
    background: #2b2b2b; }
  .stream__preview-img {
    width: 100%; }
  .stream__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 8px; }
  .stream__logo {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    text-align: center;
    padding-right: 5px; }
  .stream__logo-img {
    width: 60%;
    border-radius: 50%;
    margin-bottom: 5px; }
  .stream__name {
    color: #888;
    font-size: .8rem; }
  .stream__details {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%; }
  .stream__game {
    margin-bottom: .3rem;
    font-size: .8rem; }
  .stream__game-name {
    font-weight: 700; }
  .stream__status {
    font-size: 1rem;
    line-height: 1.35; }
    .stream__status_offline {
      font-family: "Share Tech Mono", monospace;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .1rem; }
