h1 {
  text-align: center;
}
.search, .search-results {
  margin: 0 auto;
  width: 50%;
  text-align: right;
}
.search input, .search button {
  margin-bottom: 15px;
}

.search-results {
  text-align: left;
}
.empty-results {
  font-size: 24px;
}
.company {
  display: inline-block;
  width: 33%;
  min-width: 200px;
  vertical-align: top;
}

.company__name {
  text-transform: uppercase;
  color: #AB006C;
}